<div class="container">
  <h1>Add Vessel</h1>
  <%= link_to "Back to Fleet", account_vessels_path, class: "btn btn-default btn-xs" %>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <%= render partial: "account/vessels/form", locals: { vessel: @vessel } %>
    </div>
  </div>
</div>
