<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Real Time Tracking <small><%= @vessel %></small></h1>
      <%= render partial: "account/vessels/show_actions", locals: { vessel: @vessel }  %>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render partial: "account/vessels/tracking_map", locals: { vessels: [@vessel] } %>
    </div>
  </div>
</div>
