<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Tracking History <small><%= @vessel %></small></h1>
      <%= render partial: "account/vessels/show_actions", locals: { vessel: @vessel }  %>
      <hr>
    </div>
  </div>
  <div class="row"> 
    <div class="col-md-12">
      <%= render partial: "account/vessels/tracking_history_map", locals: { vessel: @vessel } %>
    </div>
  </div>
</div>
