<div class="container">
  <div class="row">
    <div class="col-md-3 index-controls">
      <%= link_to new_account_vessel_maintenance_path, class: "btn btn-primary btn-lg btn-block" do %>
        <span class="glyphicon glyphicon-plus"></span> &nbsp New Maintenance
      <% end %>
    </div>
    <div class="col-md-9">
      <%= render partial: "account/vessel_maintenances/search_tool" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render partial: "account/vessel_maintenances/list", locals: { vessel_maintenances: @vessel_maintenances } %>
      <%= paginate @vessel_maintenances %>
    </div>
  </div>
</div>
