<div class="well">
  <div class="row">
    <div class="col-md-6">
      <input type="date" id="startDate" class="form-control"/>
    </div>
    <div class="col-md-6">
      <input type="date" id="endDate" class="form-control"/>
    </div>
  </div>
</div>
