<div class="show-actions">
<%= link_to "Back to Fleet", vessels_path, class: "btn btn-xs btn-default" %>
<%= link_to "Edit", edit_vessel_path(vessel), class: "btn btn-xs btn-default" %>
<%= link_to "Real Time Tracking", vessel_real_time_path(vessel), class: "btn btn-xs btn-default" %>
<%= link_to "Tracking History", vessel_tracking_history_path(vessel), class: "btn btn-xs btn-default" %>
</div>
