<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <td><%= vessel.name %></td>
  </tr>
  <tr>
    <th>Code</th>
    <td><%= vessel.code %></td>
  </tr>
  <tr>
    <th>Reference Number</th>
    <td><%= vessel.reference_number %></td>
  </tr>
  <tr>
    <th>Access Token</th>
    <td><%= vessel.access_token %></td>
  </tr>
</table>
