/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require notifications
 *= require colors
 *= require select2
 *= require_self
 */

@import 'bootstrap';
@import 'colors';

.select2-container {
  padding:  0px;
  border-width: 0px;
}

.select2-container .select2-choice {
  height: 38px;
  line-height: 38px;
}

#curtain {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.6);
  z-index: 99999999999;
  .text {
    width: 200px;
    color: white;
    left: 50%;
    margin-left: -100px;
    font-size: 30px;
    top: 50%;
    position: absolute;
    height: 200px;
    margin-top: -100px;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    line-height: 200px;
    font-size: 20px;
    border-radius: 10000px;
  }
}

th {
  color: $white;
  background: $darkBlue;
}

.details {
  th {
    width: 25%;
  }
}

.tab-content-inner {
  padding: 20px;
  border-bottom: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
}

#login {
  border: 1px solid #e2e2e2;
  padding: 20px;
  margin-top: 20px;
  color: #fff;
  background-image: url('/assets/fleet.jpg');

  h1 {
    background: rgba(0,0,0,0.8);
    padding: 10px;
  }
}

#single_map {
  height: 450px;
  border: 1px solid #e2e2e2;
}

html, body, #map {
  height: 100%;
  width: 100%;
  margin: 0;
}

#footer {
  height: 80px;
  margin-top: 20px;
  background-color: #e2e2e2;
  padding-top: 20px;
  color: #2e2e2e;
}

#pages-navigation {
  .logo {
    font-weight: bold;
    color: #fff;
    font-size: 2em;
    margin-top: 16px;
  }
}

#main {
  position: relative;
}

#login {
}

#pages-navigation {
  height: 80px;
  background: $darkBlue;
  border-bottom: 1px solid $navyBlue;

  ul {
    margin-top: 28px;
    text-align: right;
    li {
      display: inline;
      margin-right: 20px;
      a {
        color: $white;
        font-weight: bold;
      }

      a:hover {
        color: yellow;
        text-decoration: none;
      }
    }
  }
}

/*
 * BOOTSTRAP OVERRIDES
 */

.btn {
  border-radius: 0px;
}

input.form-control {
  border-radius: 0px;
}
